header {
  padding: 30px 20px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 5%;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
}

header .logo img {
  width: 100px;
}

header .menu {
  color: #7277f3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 40%;
}

header .header-buttons .blue-btn {
  background: #7277f3;
  color: white;
  padding: 12px 30px;
  border-radius: 35px;
  margin-right: 10px;
}

header .header-buttons .blue-btn .fas {
  margin-left: 10px;
}

header .header-buttons .orange-btn {
  background: #fea83b;
  color: white;
  padding: 12px 40px;
  border-radius: 35px;
}

/* LAPTOPS DEVICES */
@media only screen and (max-width: 1215px) {
}

/* TABLETS DEVICES */
@media only screen and (max-width: 1023px) {
}

/* MOBILE DEVICES */
@media only screen and (max-width: 840px) {
  header {
    flex-flow: column wrap;
    align-items: flex-start;
  }
  header .menu {
    flex-flow: column wrap;
    width: 100%;
    margin: 20px 0 30px;
  }

  header .menu a {
    margin-bottom: 10px;
  }
}
